.center {
  display: flex;
  align-items: center;
  justify-content: center;  
}
button {
  width: 135px;
  padding: 12px 18px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #3F51B5;
  border: none;
  border-radius: 3px;
  position: relative;
  &:hover {
    background-color: #5C6BC0;
  }
  &:focus {
    outline: none;
    background-color: #ef5350;
  }
}
i {
  margin-left: 12px;
}
.plane {
  position: absolute;
  right: 18px;
}
.fa-check,
.fade {
  animation: fade 2s;
  animation-fill-mode: forwards;
}
.hidden {
  display: none;
}
.visible {
  display: inline;
}
.fly {
  position: absolute;
  animation-name: a;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0;
}
.done {
  background-color: #ef5350;
  &:hover {
    background-color: #ef5350;
  }
}
@keyframes fade {
  0% {
    color: transparent;
 }
  100% {
    color: #fff;
 }
}
@keyframes a {
  0% {
    top: 10px;
    left: 80px;
 }
 4% {
    transform: rotate(0deg);
 }
  100% {
    top: -10000px;
    left: 10000px;
    transform: rotate(13360deg);
 }
}